html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1 {
    font-size: 8rem;
    text-align: center;
}

.tiles {
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    font-size: 10rem;
    text-align: center;
    display: grid;
    align-items: center;
}

.tiles:hover {
    background-color: lightblue;
    cursor: pointer;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 45rem;
    margin: auto;
    border: 1px solid black;
    box-sizing: initial;
}